body{
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}
header{
	position: fixed;
	background-color: #0094FF;
	height: 50px;
	width: 100%;
	font-size: 2.5em;
	z-index: 1;
}
.sign-up-heading, .event-list, .event-heading{
	padding-top: 50px;
}
.main{
	padding-top: 80px;
	margin-bottom: 20px;
}
.sign-up-btn, .event-submit{
	background-color: #0094FF;
	border-radius: 5%;
	font-weight: bold;
}
#paswd-req{
	margin-left: -20px;
}
input.dirty:not(:focus):invalid {
  background-color: #FFD9D9;
}
input.dirty:not(:focus):valid {
  background-color: #D9FFD9;
}